html {
  font-size: 18px;
  background-color: black;
}

body {
  font-family: Helvetica;
  width: 960px;
}

/*Header Content*/

#header {
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

.header-content h2 {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-size: 1rem;
}
.header-content img {
  height: 1.5rem;
  padding: 0.4rem 1rem 0.4rem 0.5rem;
}

/*Banner Content*/

.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  height: 25rem;
}

.banner .headline {
  background-color: black;
  width: 20rem;
  padding-left: 3rem;
  margin-left: 5rem;
  color: white;
  z-index: 5;
}

.headline p {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 0.25rem
}

.headline h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

/*Naviation*/

.nav {
  display: flex;
  justify-content: space-around;
  background-color: firebrick;
}

.nav a {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
