html {
  font-size: 18px;
  background-color: black;
}

body {
  font-family: Helvetica;
  background-color: white;
}

div {
  display: block;
}

/*Header Content*/

#header {
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

.header-content h2 {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-size: 1rem;
}
.header-content img {
  height: 1.5rem;
  padding: 0.4rem 1rem 0.4rem 0.5rem;
}

/*Banner Content*/

.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}

.banner .headline {
  background-color: black;
  width: 20rem;
  margin-left: 5rem;
  color: white;
  padding: 2rem 3rem;
  position: relative;
  top: 9em;
}

.headline p {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 0.25rem
}

.headline h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

/*Navigation*/

.nav {
  background-color: firebrick;
  padding: 0.75rem 0;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.nav-items a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-mobile {
  display: none;
}

/*Main Content*/

.main {
  max-width: 960px;
  margin: 0 auto;
}

.items {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0 0 0;
}

.item {
  width: 30%;
}

.item-image {
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-image img {
  max-width: 8rem;
}

.item-description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.logistics {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-top: 3rem;
}

.location, .hours {
  width: 35%;
  margin-bottom: 4rem;
}

.location h3, .hours h3 {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
  margin-bottom: 0.25rem;
}

/*Footer*/

#footer {
  position: relative;
  top: 9rem;
  background-color: black;
  color: white;
  height: 5rem;
}

#footer p {
  width: 75%;
}

/*Screen Sizes*/

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .main {
    margin: 0;
  }

  .banner .headline {
    margin-left: 0;
  }

  .nav-items {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
  }

  .nav-mobile a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  .items {
    justify-content: space-between;
  }

  .item {
    width: 47%;
  }

  .item.glasses {
    display: none;
  }

  .logistics {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 470px) {
  html {
    font-size: 16px;
  }

  .banner {
      height: 15rem;
  }

  .banner .headline {
    width: 100%;
    position: relative;
    top: 10rem;
    padding: 0 0 0 0.5rem;
  }

  .headline p {
    padding-top: 1rem;
    font-size: 0.77rem;
    font-weight: bold;
  }

  .headline h2 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .item {
    width: 90%;
    margin: 0 auto;
  }

  .item.watch {
    display: none;
  }

  .logistics {
    display: block;
    text-align: left;
  }

  .location, .hours {
    width: 90%;
    margin: 0 auto;
  }

  .location h3, .hours h3 {
    margin-bottom: 0.25rem;
  }

  .location p, .hours p {
    margin-bottom: 1rem;
  }

  #footer {
    text-align: center;
    top: 9rem;
    height: 6rem;
  }

  #footer p {
    width: 100%;
  }
}
